<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Catship</a>
    <button
      (click)="handleOpen()"
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" routerLinkActive="active" routerLink="/cats"
          >Feed</a
        >
        <a class="nav-link" routerLinkActive="active" routerLink="/breed"
          >Search Breed</a
        >
        <a class="nav-link" routerLinkActive="active" routerLink="/subscribe"
          >Subscribe</a
        >
      </div>
    </div>
  </div>
</nav>

<div>
  <div *ngIf="this.open" class="mobile-nav bg-dark">
    <a
      (click)="handleOpen()"
      class="nav-link"
      routerLinkActive="active"
      routerLink="/"
      >Home</a
    >
    <a
      (click)="handleOpen()"
      class="nav-link"
      routerLinkActive="active"
      routerLink="/cats"
      >Feed</a
    >
    <a
      (click)="handleOpen()"
      class="nav-link"
      routerLinkActive="active"
      routerLink="/breed"
      >Search Breed</a
    >
    <a
      (click)="handleOpen()"
      class="nav-link"
      routerLinkActive="active"
      routerLink="/subscribe"
      >Subscribe</a
    >
  </div>
</div>
