.background-img {
  background-image: url(../../assets/img/homebg/homebg-500w.jpg);
  height: 500px;
  background-position: center;
  width: 100vw;
  margin: 0 auto;
  background-size: cover;
  filter: brightness(120%);
  padding: 40px;
}

.background-img h1 {
  color: white;
}

.avatar {
  width: 300px;
  height: 300px;
  border-radius: 100%;
}

.item {
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 500px) {
  .background-img {
    background-image: url(../../assets/img/homebg/homebg-1200w.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .background-img {
    background-image: url(../../assets/img/homebg/homebg-1600w.jpg);
  }
}
