<div class="background-img">
  <h1>Dating Service for Cats..</h1>
</div>
<section class="container">
  <div class="row">
    <div class="item col">
      <img
        class="avatar"
        src="../../assets/img/homebg/homebg-500w.jpg"
        alt="Loving cats"
      />
    </div>
    <div class="item col">
      <p>
        So we can bring you the matches with the most potential for a happy and
        long-lasting relationship, we rely on findings from 40 years of research
        in this field: The CatShip principle® analyzes 32 personality traits and
        is based on a matching algorithm of 136 rules. Sounds complicated.
        Mathematical. Psychological. But it is furry simple: CatShip searches -
        you find.
      </p>
    </div>
  </div>
</section>
